<div class="card bg-light rounded mb-3">
  <div class="card-body">
    <div class="d-flex align-items-start">
      <%= render(Avatar::Component.new(user: user, size: 30)) %>
      <div class="ml-3 w-100">
        <div class="d-flex align-items-center justify-content-between mb-2">
          <span class="font-weight-bold"><%= user.name %></span>
          <span class="text-muted font-weight-light">
            <%= created_ago %>
          </span>
        </div>
        <%= @comment.content %>
        <% if my_comment? %>
          <div class="d-flex justify-content-end mt-2">
            <button class="btn btn-link text-danger btn-sm ml-2"
                    data-reflex="click->Comment#destroy"
                    data-comment-id="<%= @comment.id %>">
              Delete
            </button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
