<% content_for :content do %>
  <h1 class="text-center">Edit your account</h1>

  <div class="mt-3">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-3">
        <%= f.email_field_with_label :email, autocomplete: "email", autofocus: true %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="mb-3">
        <%= f.password_field_with_label :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <span class="form-text"><%= @minimum_password_length %> characters minimum</span>
        <% end %>
      </div>

      <div class="mb-3">
        <%= f.password_field_with_label :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="mb-3">
        <%= f.password_field_with_label :current_password, autocomplete: "current-password" %>
        <span class="form-text">we need your current password to confirm your changes</span>
      </div>

      <div class="mb-3">
        <%= f.submit "Update", class: 'btn btn-primary btn-block' %>
      </div>
    <% end %>
  </div>

  <div class="alert alert-danger text-center mt-4">
    <h3 class="mb-4">Cancel my account</h3>
    <%= button_to "Cancel my account", registration_path(resource_name), class: 'btn btn-danger', data: { confirm: "Are you sure?" }, method: :delete %>
  </div>

  <%= link_to "Back", :back %>
<% end %>
