<section class="project-page">
  <header class="project-page__header mb-5">
    <div class="d-flex align-items-center justify-content-between mb-2">
      <h1 class="display-4 font-weight-bold"><%= @project.name %></h1>
      <p class="d-flex flex-column align-items-end">
        <span class="text-muted">Created on</span>
        <span><%= @project.created_at.strftime("%B %d, %Y") %></span>
      </p>
    </div>
    <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
      <div class="d-flex align-items-center mb-2">
        <ul class="project-page__avatars">
          <% @project.members.limit(5).each do |member| %>
            <li class="project-page__avatars__item">
              <% if member.avatar.attached? %>
                <a href="#">
                  <%= image_tag current_user.avatar.variant(combine_options: {resize: '40x40^', extent: '40x40', gravity: 'Center'}), class: "rounded-circle" %>
                </a>
              <% else %>
                <a href="#">
                  <%= image_tag 'avatar.png', height: 40, width: 40, class: "rounded-circle" %>
                </a>
              <% end %>
            </li>
          <% end %>
          <% if @project.members.count > 5 %>
            <li class="project-page__avatars__item">
              <a href="#">
                <%= @project.members.count - 5 %>+
              </a>
            </li>
          <% end %>
        </ul>
        <a href="#" class="btn btn-outline-secondary ml-4" data-toggle="modal" data-target="#invite-modal">
          Invite
          <i class="fas fa-plus ml-1"></i>
        </a>
      </div>
      <a href="#" class="btn btn-success ml-4" data-toggle="modal" data-target="#task-modal">
        Add a task
      </a>
    </div>
  </header>
  <div class="project-page__content px-3 py-4" data-controller="forms">
    <div class="row">
      <% @project.labels.each do |label| %>
        <div class="col-md-3">
          <h3 class="mb-3">
            <span class="badge rounded-pill <%= label.color %>"><%= label.name %></span>
          </h3>
          <div id="tasks-list-<%= label.slug %>">
            <% if label.tasks.any? %>
              <%= render label.tasks %>
            <% else %>
              <div class="card empty-card mb-3">
                <div class="card-body">
                  <span class="text-muted">There are no tasks</span>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <%= render 'tasks/form_modal', project: @project, task: @task %>
    <%= render 'invites/form_modal', project: @project, invite: @invite %>
  </div>
</section>
