<div id="<%= dom_id(@task) %>" class="task card mb-3" data-task-id="<%= @task.slug %>">
  <%= link_to project_task_url(@task.label.labelable, @task), class: 'stretched-link' do %>
    <div class="card-body">
      <h6><%= @task.title %></h6>
      <div class="d-flex align-items-center justify-content-between">
        <small class="text-muted"><%= upcase_task_slug %></small>
        <% if @task.assignee %>
          <%= render(Avatar::Component.new(user: @task.assignee, size: 25)) %>
        <% end %>
      </div>
    </div>
    <div class="card-footer d-flex align-items-center justify-content-between">
      <div class="task__comments">
        <i class="fas fa-comments mr-1"></i>
        <small><%= @task.comments_count %></small>
      </div>
      <div class="task__story-points">
        <i class="<%= @task.priority_icon %>"></i>
        <span class="badge rounded-pill bg-secondary ml-2"><%= @task.story_points %></span>
      </div>
    </div>
  <% end %>
</div>
