<div id="<%= dom_id(@label) %>" class="col-md-3">
  <h3 class="mb-3">
    <span class="badge rounded-pill <%= label_color(@label.slug) %>"><%= @label.name %></span>
  </h3>
  <div data-controller="sort">
    <% if @label.tasks.kept.any? %>
      <div id="tasks-list-<%= @label.slug %>" data-label-id="<%= @label.slug %>" data-target="sort.list" data-action="drop->sort#drop">
        <%= render(TaskCard::Component.with_collection(@label.tasks.kept)) %>
      </div>
    <% else %>
      <div class="card empty-card">
        <div class="card-body">
          <span class="text-muted">There are no tasks</span>
        </div>
      </div>
      <div class="p-3" id="tasks-list-<%= @label.slug %>" data-label-id="<%= @label.slug %>" data-target="sort.list" data-action="drop->sort#drop">
      </div>
    <% end %>
  </div>
</div>
